<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/main.css">
    
    <%- include ("partials/header") %>
</head>
<body>
    <%- include ("partials/navegacion") %>
    
    <div class="container p-5">
        <div class="row">
            <div class="col-md-3 mx-auto">
                <div class="card text-center">
                    <div class="card-header bg-dark text-white text-center">
                        <p id="tablero"></p>
                    </div>
                    <div class="card-body ">

                        <form name="form">
                            <input name="entrada" type="text" size="5" maxlength="1">
                            <input name="comprobar" type="button" value="Adivinar" onClick="comprobarLetra()">

                            <p id="letrasAdivinadas">Letras erróneas:</p>
                            <div>
                                Intentos:
                                <span id="intento">6</span>
                            </div>
                            <input class=" btn btn-success btn-block" name="recargar" type="button" value="Juego nuevo" onClick="location.reload()">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var letras = [
            ["T", "O", "S", "E", "R"],
            ["T", "E", "R", "M", "I", "N", "A", "D", "O"],
            ["P", "A", "T", "A", "T", "A"],
            ["E", "D", "U", "C", "A", "C", "I", "O", "N"],
            ["F", "U", "N", "C", "I", "O", "N", "A"],
            ["E", "S", "C", "U", "E", "L", "A"]
        ]
        var random = Math.floor((Math.random() * (letras.length - 1)));

        var palabra = letras[random];
        var adivinar = new Array(palabra.length);
        var fallos = 0;
        var intentos = 6;
        var juegoTerminado = false;

        for (var i = 0; i < adivinar.length; i++) {
            if(i == 0) {
                adivinar[i] = palabra[0]+" ";

            } else {
                adivinar[i] = "_ ";
            }
        }

        function mostrarAdivinar() {

            for (var i = 0; i < adivinar.length; i++) {
                var tablero = document.getElementById("tablero");
                var letra = document.createTextNode(adivinar[i]);
                tablero.appendChild(letra);
            }

        }

        var comprobarLetra = function() {

            if(juegoTerminado == true) {
                return alert("Dale al botón de empezar nuevo juego");
            }

            var f = document.form;
            var b = f.elements["entrada"];
            var caracter = b.value;

            if(caracter == "") {
                return alert("Debes escribir una letra");
            }

            caracter = caracter.toUpperCase();
            for (var i = 0; i < palabra.length; i++) {
                if (palabra[i] === caracter) {
                    adivinar[i] = caracter + " ";
                    var encontrado = true;
                }
                b.value = "";
            }

            var tablero = document.getElementById("tablero");
            tablero.innerHTML = "";
            mostrarAdivinar();

            if (!encontrado) {
                var letrasAdivinadas = document.getElementById("letrasAdivinadas");
                var letra = document.createTextNode(" " + caracter);
                letrasAdivinadas.appendChild(letra);

                fallos++;
                intentos--;
                document.getElementById("intento").innerHTML = intentos;
            }
            
            var fin = true;
            for (var i = 0; i < adivinar.length; i++) {
                if (adivinar[i] === "_ ") {
                    fin = false;
                }
            }
            if (fin) {

                let puntos = 6 - fallos;

                window.alert(`Enhorabuena, has ganado ${puntos} puntos!`);
                juegoTerminado = true;

                // AÑADIR PUNTOS

                fetch('https://localhost:5000/addpoints', {
                    method: 'POST',
                    body: JSON.stringify({ points: puntos }),
                    headers: { 'Content-Type': 'application/json' },
                });
            }

            if (fallos === 6) {
                window.alert("Has perdido todas tus vidas, fin del juego :(");
                juegoTerminado = true;
            }
        }

        function init() {
            mostrarAdivinar();
        }

        window.onload = init;
    </script>
</body>
<%- include ("partials/footer") %>
</html>
