<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiosco AW</title>

    <!-- BOOSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <%- include ("partials/navegacion") %>

    <h1>Pagina para el ahorcado</h1>

    <script>
        document.addEventListener('DOMContentLoaded', function() {

            const listaPalabras = ['caballo', 'oveja', 'cerdo', 'chimpance'];
            let palabraAdivinar = [];
            let palabraMostrar = [];
            let historialLetrasUsuario = [];
            let numIntentos = 5;
            let nodoLetra = document.querySelector('#letra');
            let nodoBoton = document.querySelector('#boton');
            let nodoResultado = document.querySelector('#resultado');
            let nodoIntentos = document.querySelector('#intentos');
            let nodoHistorial = document.querySelector('#historial');

            function prepararJuego() {

                let posAleatoriaListaPalabras = _.random(listaPalabras.length - 1);
                let palabraAleatoria = listaPalabras[posAleatoriaListaPalabras];

                palabraAdivinar = palabraAleatoria.split('');

                for (let letra of palabraAdivinar) {
                    palabraMostrar.push('_');
                }
                dibujarJuego();
            }

            function dibujarJuego() {

                nodoResultado.textContent = palabraMostrar.join(' ');
                nodoIntentos.textContent = numIntentos;
                nodoHistorial.textContent = historialLetrasUsuario.join(' ');
            }

            function comprobarLetraUsuario() {

                let letraUsuario = nodoLetra.value;

                nodoLetra.value = '';
                nodoLetra.focus();

                for (const [posicion, letraAdivinar] of palabraAdivinar.entries()) {

                    if (letraUsuario == letraAdivinar) {

                        palabraMostrar[posicion] = letraAdivinar;
                    }
                }
                if (!palabraAdivinar.includes(letraUsuario)) {

                    numIntentos -= 1;
                    historialLetrasUsuario.push(letraUsuario);
                }
                acabarJuego();
                dibujarJuego();
            }

            function comprobarPulsadoEnter(evento) {
                if (evento.code == 'Enter') {
                    comprobarLetraUsuario();
                }
            }

            function acabarJuego() {

                if (!palabraMostrar.includes('_')) {

                    alert('Has ganado!!!');
                    location.reload(true);
                }
                if (numIntentos == 0) {

                    alert('Has Perdido!!! Era: ' + palabraAdivinar.join(''));
                    location.reload(true);
                }
            }

            nodoBoton.addEventListener('click', comprobarLetraUsuario);

            nodoLetra.addEventListener('keyup', comprobarPulsadoEnter);
            prepararJuego();
        });
    </script>
</body>
</html>
