<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiosco AW</title>

    <!-- BOOSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <%- include ("partials/navegacion") %>

    <h1>Pagina para el ahorcado</h1>

    <script>
        var letras = [
            ["R", "A", "D", "I", "O"],
            ["T", "E", "A", "M", "S", "P", "E", "A", "K"],
            ["W", "E", "B", "D", "E", "S", "I", "G", "N"],
            ["E", "D", "U", "C", "A", "T", "I", "O", "N"],
            ["C", "H", "O", "C", "O", "L", "A", "T", "E"],
            ["G", "E", "R", "M", "A", "N", "Y"]
        ]
        var random = Math.floor((Math.random() * (letras.length - 1)));

        var palabra = letras[random]; // the word to guess will be chosen from the array above
        var adivinar = new Array(palabra.length);
        var fallos = 0;
        var intentos = 6;

        for (var i = 0; i < adivinar.length; i++) {
            adivinar[i] = "_ ";
        }

        function mostrarAdivinar() {
            for (var i = 0; i < adivinar.length; i++) {
                var tablero = document.getElementById("tablero");
                var letra = document.createTextNode(adivinar[i]);
                tablero.appendChild(letra);
            }
        }

        var comprobarLetra = function() {
            var f = document.form;
            var b = f.elements["entrada"];
            var caracter = b.value; // the letter provided by the user
            caracter = caracter.toUpperCase();
            for (var i = 0; i < palabra.length; i++) {
                if (palabra[i] === caracter) {
                    adivinar[i] = caracter + " ";
                    var encontrado = true;
                }
                b.value = "";
            }

            var tablero = document.getElementById("tablero");
            tablero.innerHTML = "";
            mostrarAdivinar();

            if (!encontrado) {
                var letrasAdivinadas = document.getElementById("letrasAdivinadas");
                var letra = document.createTextNode(" " + caracter);
                letrasAdivinadas.appendChild(letra);

                fallos++;
                intentos--;
                document.getElementById("intento").innerHTML = intentos;
            }
            
            var fin = true;
            for (var i = 0; i < adivinar.length; i++) {
                if (adivinar[i] === "_ ") {
                    fin = false;
                }
            }
            if (fin) {
                window.alert("Enhorabuena, has ganado!");
            }

            if (fallos === 6) {
                window.alert("Has perdido todas tus vidas, fin del juego :(");
            }
        }

        function init() {
            mostrarAdivinar();
        }

        window.onload = init;
    </script>
    <b>Dispone de 6 intentos</b>
    <p id="tablero"></p>
    <form name="form">
        <input name="entrada" type="text" size="5" maxlength="1">
        <input name="comprobar" type="button" value="Guess" onClick="comprobarLetra()">

        <p id="letrasAdivinadas">Letras erróneas:</p>
        <div>
            Intentos:
            <span id="intento">6</span>
        </div>
        <input name="recargar" type="button" value="New Game" onClick="location.reload()">
    </form>
</body>
</html>
