<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="css/main.css">

    <%- include ("partials/header") %>
    
</head>
<body>
    <%- include ("partials/navegacion") %>

    <div class="container p-4">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card text-center">
                    <div class="card-header bg-dark text-white text-center">
                        <h3>Ahorcado</h3>
                        </div>
                         <div class="card-body">
                            <button class="btn btn-success btn-block" onclick="location.href='/juegos/ahorcado'">Jugar</button>
                        </div>
                </div>
            </div>

            <div class="col-md-5 mx-auto">
                <div class="card text-center">
                    <div class="card-header bg-dark text-white text-center">
                        <h3>3 en raya</h3>
                        </div>
                        <div class="card-body">
                            <button class="btn btn-success btn-block" onclick="location.href='/juegos/tiktaktoe'">Jugar</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card text-center">
                    <div class="card-header bg-dark text-white text-center">
                        <h3>Juego nuevo</h3>
                        </div>
                         <div class="card-body">
                            <button class="btn btn-secondary btn-block">Desactivado</button>
                        </div>
                </div>
            </div>

            <div class="col-md-5 mx-auto">
                <div class="card text-center">
                    <div class="card-header bg-dark text-white text-center">
                        <h3>Juego nuevo</h3>
                        </div>
                        <div class="card-body">
                            <button class="btn btn-secondary btn-block">Desactivado</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include ("partials/footer") %>
</html>