<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS -->
    <link rel="stylesheet" href="../css/main.css">
    
    <%- include ("partials/header") %>

</head>
<body>
    <%- include ("partials/navegacion") %>

    <div class="container p-4">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <section>
                    <div class="game--container text-white">
                        <div data-cell-index="0" class="cell"></div>
                        <div data-cell-index="1" class="cell"></div>
                        <div data-cell-index="2" class="cell"></div>
                        <div data-cell-index="3" class="cell"></div>
                        <div data-cell-index="4" class="cell"></div>
                        <div data-cell-index="5" class="cell"></div>
                        <div data-cell-index="6" class="cell"></div>
                        <div data-cell-index="7" class="cell"></div>
                        <div data-cell-index="8" class="cell"></div>
                    </div>
                    <h2 class="game--status text-white"></h2>
                    <button class="game--restart btn btn-primary btn-block" onclick="reiniciarPartida()">Reiniciar juego</button>
                </section>
            </div>
        </div>
    </div> 

    <script>
        const statusDisplay = document.querySelector('.game--status');

        let gameActive = true;
        let gameState = ["", "", "", "", "", "", "", "", ""];

        statusDisplay.innerHTML = "Selecciona una casilla";

        const winningConditions = [
            [0, 1, 2],
            [3, 4, 5],
            [6, 7, 8],
            [0, 3, 6],
            [1, 4, 7],
            [2, 5, 8],
            [0, 4, 8],
            [2, 4, 6]
        ];

        function handleResultValidation(jugador) {
            let roundWon = false;
            for (let i = 0; i <= 7; i++) {
                const winCondition = winningConditions[i];
                let a = gameState[winCondition[0]];
                let b = gameState[winCondition[1]];
                let c = gameState[winCondition[2]];
                if (a === '' || b === '' || c === '') {
                    continue;
                }
                if (a === b && b === c) {
                    roundWon = true;
                    break
                }
            }

            if (roundWon) {
                if (jugador == 'jugador') {
                    statusDisplay.innerHTML = "Has obtenido 5 puntos por ganar";
                    gameActive = false;

                    fetch('https://localhost:5000/addpoints', {
                        method: 'POST',
                        body: JSON.stringify({ points: 5 }),
                        headers: { 'Content-Type': 'application/json' },
                    });

                } else {
                    statusDisplay.innerHTML = "Has perdido";
                    gameActive = false;
                }

                return;
            }

            let roundDraw = !gameState.includes("");
            if (roundDraw) {
                statusDisplay.innerHTML = "Ha habido un empate";
                gameActive = false;
                return;
            }

            // MÃQUINA
            if (jugador == 'jugador') {
                for (let i = 0; i <= 9; i++) {
                    if (gameState[i] == "") {

                        gameState[i] = "0";

                        let cells = document.querySelectorAll('.cell');
                        cells.forEach(function (cell) {

                            if (i == parseInt(cell.getAttribute('data-cell-index'))) {
                                cell.innerHTML = "O";
                                handleResultValidation('maquina');
                            }
                        });
                        break;
                    }
                }
            }
        }

        function handleCellClick(clickedCellEvent) {
            const clickedCell = clickedCellEvent.target;
            const clickedCellIndex = parseInt(clickedCell.getAttribute('data-cell-index'));

            if (gameState[clickedCellIndex] !== "" || !gameActive) {
                return;
            }

            gameState[clickedCellIndex] = "X";
            clickedCell.innerHTML = "X";
            handleResultValidation('jugador');
        }

        function reiniciarPartida() {
            gameActive = true;
            currentPlayer = "X";
            gameState = ["", "", "", "", "", "", "", "", ""];
            statusDisplay.innerHTML = "Selecciona una casilla";
            document.querySelectorAll('.cell').forEach(cell => cell.innerHTML = "");
        }

        document.querySelectorAll('.cell').forEach(cell => cell.addEventListener('click', handleCellClick));
    </script>
</body>
</html>